# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# Platforms (CRÍTICO)
android/
ios/
linux/
macos/
windows/

# Tests & IDE
test/
.idea/
.vscode/

# Git
.git/
.gitignore

# Env
.env

# Metadata
.metadata
*.iml
